name: build
on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3
        with:
          token: ${{ secrets.DOPPLER_TOKEN }}
      - name: Build and push
        run: |
          doppler run --token ${{ secrets.DOPPLER_TOKEN }} -- docker buildx build \
            --push \
            --tag arbitraryusername43/metal_products:backend-${{ github.sha }} \
            --platform linux/amd64,linux/arm64 \
            --cache-from type=registry,ref=arbitraryusername43/metal_products:backend-cache \
            --cache-to type=registry,ref=arbitraryusername43/metal_products:backend-cache,mode=max \
            .
      - name: Upload image tag
        run: echo "arbitraryusername43/metal_products:backend-${{ github.sha }}" > image-tag-backend.txt
      - uses: actions/upload-artifact@v4
        with:
          name: image-tag-backend
          path: image-tag-backend.txt
