name: deploy
on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: image-tag-backend
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Set IMAGE
        run: echo "IMAGE=$(cat image-tag-backend.txt)" >> $GITHUB_ENV
      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3
        with:
          token: ${{ secrets.DOPPLER_TOKEN }}
      - name: Download secrets
        run: doppler secrets download --format env > .env
      - name: Add IMAGE to .env
        run: echo "IMAGE=${{ env.IMAGE }}" >> .env
      - name: Deploy to server
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker-compose \
            -H ssh://${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} \
            --file docker-compose.yml \
            --env-file .env \
            pull
          docker-compose \
            -H ssh://${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} \
            --file docker-compose.yml \
            --env-file .env \
            up -d
      - name: Cleanup
        run: rm .env
