name: deploy
on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: image-tag-backend
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Set IMAGE
        run: echo "IMAGE=$(cat image-tag-backend.txt)" >> $GITHUB_ENV
      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3
        with:
          token: ${{ secrets.DOPPLER_TOKEN }}
      - name: Download secrets
        run: doppler secrets download --token ${{ secrets.DOPPLER_TOKEN }} --format env > .env
      - name: Check .env keys
        run: |
          echo "Checking .env keys for spaces:"
          if awk -F= '{print $1}' .env | grep -q " "; then
            echo "Found spaces in keys:"
            awk -F= '{print $1}' .env | grep " "
            exit 1
          else
            echo "No spaces found in keys."
          fi
      - name: Add IMAGE to .env
        run: echo "IMAGE=${{ env.IMAGE }}" >> .env
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add server to known_hosts
        run: ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy to server
        run: |
          docker login -u ${{ vars.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          export DOCKER_HOST=ssh://${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}
          docker compose \
            --file docker-compose.yml \
            --env-file .env \
            pull
          docker compose \
            --file docker-compose.yml \
            --env-file .env \
            up -d
      - name: Cleanup
        run: rm .env
